.pin-article .link:hover,
.contact-form input[type=submit],
.comment-form input[type=submit],
.pin-article .quote:hover,
.pin-article .link a:hover,
.button,
.wp-pagenavi a:hover,
.wp-pagenavi span.current,
.wip-pagination span,
.wip-pagination a span:hover,
.skills .views.active,
.skills .views:hover,
.filter li:hover,
.filter li.active {
    background-color: #0090ff;
}

.contact-form input[type=submit]:hover,
.comment-form input[type=submit]:hover,
.button:hover,
#sidebar .tagcloud a:hover,
#footer .tagcloud a:hover,
.theme-default .nivo-directionNav a:hover,
.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover,
#back-to-top i.open,
#back-to-top i:hover {
    background-color: #0074cc;
}
#back-to-top i.open,
#back-to-top i:hover {
    border-color: #0074cc;
}
